$bg-color: #f3f3f3;
$footer-border: 2px solid #515151;
$bg-header-footer-color: white;

// Font-sizes

$mobile-font-size-title: 2.2rem;
$desktop-font-size-title-medium: 3.3rem;
$desktop-font-size-title-small: 2.7rem;

$mobile-font-size-paragraph: 1.2rem;
$desktop-font-size-paragraph: 1.5rem;